/src/.vscode
/*.d.ts
/*.log
*.js.map
bundle.js
npm-debug.log
/.test/
/test/execution-tests/**/typings
!/test/**/expectedOutput-*/**
/**/node_modules
/dist
/test/execution-tests/**/dist
/**/.happypack
/**/.cache-loader
!build.js
/**/debug.log
.pnp
.pnp.js
!.eslintrc.js
.vs/**
.pnpm-store
.temp_cache
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.idea
.idea/.gitignore
.idea/aws.xml
.idea/codeStyles/
.idea/inspectionProfiles/
.idea/modules.xml
.idea/webpack_5.iml
.prettierignore
.prettierrc
babel.config.js
jsconfig.json
package.json
postcss.config.js
public/index.html
src/
tsconfig.json
webpack/analyzer.js
webpack/configs/
webpack/readme.markdown
webpack/webpack.base.js
webpack/webpack.dev.js
webpack/webpack.prod.js
yarn.lock
